ul{
  list-style: none;
}

input {
  border: 0;
  background-color: transparent;
}

input::-webkit-input-placeholder {
  color: #CCCCCC;
}

textarea {
  border: 0;
  resize: none;
  background-color: transparent;
}


.search {
  width: 100%;
  height: 11.53vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 3.2vw;
  box-sizing: border-box;
  background-color: white;
}

.searchFor {
  flex: 1;
  height: 9.33vw;
  background: #F8F8F8;
  border-radius: 4.67vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.searchIcon {
  width: 6.5vw;
  height: 6.5vw;
  margin-left: 3.2vw;
}

.searchInput {
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 3.73vw;
  font-weight: 400;
  color: #999999;
  padding: 0 2.13vw;
  border: 0;
  outline: none;
  background-color: transparent;
}

.searchType {
  width: 8vw;
  height: 8vw;
  margin-left: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 6.4vw;
  height: 6.4vw;
  display: block;
}

.searchCancel {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.73vw;
  font-weight: 400;
  color: #333333;
  margin-left: 3vw;
}
